# OS files
Thumbs.db
Thumbs.db:Encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.nfs*

# Linux
*~
.directory
.Trash-*

# Editors
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-*

# Docker
*.tar
*.tar.gz
